<!DOCTYPE html>

<h1>BYENVINI NAN PAJ KOTE POU KONEKTE SI OU DEJA GENYEN KONT AK SIT SA</h1>

<form>
     <input id='authorname' type="text" name='authorname' placeholder='Author Name'/>
     <input id='password' type="password" name='password' placeholder='Password'/>  
    <button id = "loginBtn">Apiye La Pou Konekte</button>
    <p>Apiye <a href="/signup">la</a> pou kreye yon nouvo kont si ou pa gen you'n deja</p>
</form>

