<h1>Byenveni nan Paj Kote Pou Konekte si Ou Deja Genyen Kont ak Sit Sa</h1>

<form>
     <input id='authorname' type="text" name='authorname' placeholder='Author Name'/>
     <input id='password' type="password" name='password' placeholder='Password'/>  
    <button id = "loginBtn">Apiye La Pou Konekte</button>
    <p>Apiye <a href="/signup">La</a> Pou Kreye Yon Nouvo Kont si Ou Pa Genyen You'n Deja</p>
</form>

