<h1>Byenveni, tanpri ranpli anba a pou enskri</h1>

<form>
   <form>
    <input id='authorname' type="text" name='authorname' placeholder='Author Name'/>
    <input id='email' type="text" name='email' placeholder='Email'/>
    <input id='password' type="password" name='password' placeholder='Password'/>  
    <button id = "submitBtn">Soumèt</button>
    <p>Klike <a href="/login">la</a> konekte si ou deja gen kont</p>
</form>

